<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoPITrackTracker"
        tools:targetApi="31">

        <activity
            android:name="br.fecap.pi.TrackTracker.ViagemConcluida"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.PreViagem"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.ViagemEncontrada"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.HomeMoto"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroPassFoto"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroMotoFoto"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroPassSenha"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroPassSenha"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroPassPessoal"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroPassPessoal"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroMotoSenha"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroMotoCar"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.CadastroMotoPessoal"
            android:exported="false" />
        <activity
            android:name=".CadastroMoto"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.LoginPass"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.LoginMoto"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".CadastroMotoFoto"
            android:exported="false" />
        <activity
            android:name=".CadastroPassFoto"
            android:exported="false" />
        <activity
            android:name="br.fecap.pi.TrackTracker.HomePassageiro"
            android:exported="false" />
        <activity android:name="br.fecap.pi.TrackTracker.NovidadesActivity" />
        <activity android:name="br.fecap.pi.TrackTracker.CorridaPass" />
        <activity android:name="br.fecap.pi.TrackTracker.CorridaFinalPass" />
        <activity
            android:name="br.fecap.pi.TrackTracker.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>